In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [15]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [6]:
df.to_csv("BA_reviews.csv")

In [9]:
#!pip install cleantext
import cleantext

In [16]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [23]:
import pandas as pd
import re

# Load your dataset
data = pd.read_csv('BA_reviews.csv')

# Define a function to remove patterns
def remove_prefix(text):
    return re.sub(r'^(.*\|)', '', text).strip()

# Apply the function to the reviews column
data['cleaned_reviews'] = data['reviews'].apply(remove_prefix)

# Display the result
print(data[['reviews', 'cleaned_reviews']].head())

                                             reviews  \
0  Not Verified | We bought tickets for a Geneva-...
1  ✅ Trip Verified |   Appalling service with fai...
2  ✅ Trip Verified | British Airways charge you f...
3  ✅ Trip Verified | What is wrong with you guys?...
4  ✅ Trip Verified |   We booked two business cla...

                                     cleaned_reviews
0  We bought tickets for a Geneva-London flight, ...
1  Appalling service with failing defective fleet...
2  British Airways charge you for the pleasure of...
3  What is wrong with you guys? People pay lots o...
4  We booked two business class seat with British...

In [24]:
data.head()

,Unnamed: 0,reviews,cleaned_reviews
0,0,Not Verified | We bought tickets for a Geneva-...,"We bought tickets for a Geneva-London flight, ..."
1,1,✅ Trip Verified | Appalling service with fai...,Appalling service with failing defective fleet...
2,2,✅ Trip Verified | British Airways charge you f...,British Airways charge you for the pleasure of...
3,3,✅ Trip Verified | What is wrong with you guys?...,What is wrong with you guys? People pay lots o...
4,4,✅ Trip Verified | We booked two business cla...,We booked two business class seat with British...

In [41]:
reviews_clean = data.drop('reviews', axis = 1)

In [42]:
reviews_clean.head()

                                     cleaned_reviews
0  We bought tickets for a Geneva-London flight, ...
1  Appalling service with failing defective fleet...
2  British Airways charge you for the pleasure of...
3  What is wrong with you guys? People pay lots o...
4  We booked two business class seat with British...

In [43]:
reviews_clean.head()

                                     cleaned_reviews
0  We bought tickets for a Geneva-London flight, ...
1  Appalling service with failing defective fleet...
2  British Airways charge you for the pleasure of...
3  What is wrong with you guys? People pay lots o...
4  We booked two business class seat with British...

In [44]:
reviews_clean.to_csv('reviews_clean.csv')